<div class="content_card card container">
  <div class="row">
    <!-- <div class="col-sm-4 card_swipe_no"> -->
      <!-- <span class="glyphicon glyphicon-remove"></span> -->
    <!-- </div> -->
    <div class="card_user col-sm-12" style="margin-top: 30px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="card_picture_container">
              <img class="card_user_picture" src="{{imgpath}}">
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card_user_info">
              <h2 class="card_user_info_name">{{firstName + " " + lastName}}</h2>
              <h5 class="card_user_major">{{major}}</h5>
            </div>

            <div>
              <p>[Badges]</p>
              <badge-lister [badgeData]=badges></badge-lister>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px; text-align: center;">
          <div class="col-sm-6" style="padding-top: 20px;">
            <img style="height: 60px; cursor: pointer" src="../../assets/x-circle.svg">
          </div>
          <div class="col-sm-6" style="padding-top: 20px;">
              <img style="height: 60px; cursor: pointer" src="../../assets/check-circle.svg">
            </div>
        </div>
    </div>
    </div>
    <!-- <div class="col-sm-4 card_swipe_yes"></div> -->
  </div>

</div>
