<div class="content_card card container">
  <div class="row">
    <div class="col-sm-4 card_swipe_no">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div class="card_user col-sm-4">
      <div class="card_picture_container center-block" style="width: 100%;">
        <img class="card_user_picture" src="{{imgpath}}">
      </div>

      <div class="card_user_info">
        <h2 class="card_user_info_name">{{firstName + " " + lastName}}</h2>
      </div>
    </div>
    <div class="col-sm-4 card_swipe_yes"></div>
  </div>

</div>
