@import '../colors';

.content_card {
  .card_swipe_no {
    background-color: $jumble-red;
  }
  .card_swipe_yes {
    background-color: $jumble-red;
  }

  .card_user {
    background-color: $jumble-card-bg;
    height: 400px;

      .card_user_picture {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 280px;
        width: auto;

        border-radius: 50%;
      }

      .card_user_info {
        text-align: left;

        .card_user_info_name {
          color: black;

          background-color: white;
          margin-top: 70px;
          border-radius: 38px;
        }
      }
  }
}


.card_user {
  padding: 0;
}

.card_picture_container {
  padding: 0;
}

.card_user_picture {
  padding: 0;
}
