@import '../colors';

.content_card {
  background-color: #ebebe9;

  .card_swipe_no {
    background-color: $jumble-red;
  }
  .card_swipe_yes {
    background-color: $jumble-red;
  }

  .card_user {
    background-color: #ebebe9;
    height: 400px;

      .card_user_picture {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 280px;
        width: auto;

        border-radius: 50%;
      }

      .card_user_info {
        color: black;
        padding: 10px 0 10px 15px;
        margin-top: 50px;
        border-radius: 15px;

        text-align: left;
        background-color: white;

        .card_user_info_name {
          border-radius: 38px;
        }
      }
  }
}


.card_user {
  padding: 0;
}

.card_picture_container {
  padding: 0;
}

.card_user_picture {
  padding: 0;
}
