<body class="body">
    <div class="container" style="background-color: #415a77;">

      <span class="text-right glyphicon glyphicon-cog" style="font-size: 22px; margin-left: 10px; margin-top: 5px;" routerLink='/userInfo'></span>
      <div class="row no-gutters" >
        <div class="col-lg-3">
          <app-contacts></app-contacts>
        </div>
        <div class="col-lg-9" style="background-color: white;">
          <swipe_card #swipeCard (click)="updateCard()"></swipe_card>
          <app-info #infoTable></app-info>
        </div>
      </div>
    </div>
  </body>
