<div class="info">
<div class="container-fluid" style="height: 200px">
    <h4 style="margin-left: 10px; margin-top: 5px;">Information</h4>
  <div class="row">
  <div class="col-lg-6">
    <table class="table table-light">
      <tr class="table-secondary">
        <td><b>Name:</b> {{name}}</td>
      </tr>
      <tr class="table-secondary">
        <td><b>Email:</b> {{email}}</td>
      </tr>
      <tr class="table-secondary">
        <td><b>Major:</b> {{major}}</td>
      </tr>
      <tr class="table-secondary">
        <td><b>Slack:</b> {{slack}}</td>
      </tr>
    </table>
  </div>
  <div class="col-lg-6">
    <table class="table table-light">
        <tr class="table-secondary">
          <td><b>Interests:</b> Boosting</td>
        </tr>
        <tr class="table-secondary">
          <td><b>Ideas:</b> All the ideas</td>
        </tr>
        <tr class="table-secondary">
          <td><b>Skills:</b> All the skillz</td>
        </tr>
    </table>
    </div>
    </div>
</div>
</div>
