<div class="info">
<div class="container" style="height: 200px">
  <div class="row">
  <div class="col-lg-6">
    <table>
      <tr>
        <td>Name: {{name}}</td>
      </tr>
      <tr>
        <td>Email: {{email}}</td>
      </tr>
      <tr>
        <td>Major: {{major}}</td>
      </tr>
      <tr>
        <td>Slack: {{slack}}</td>
      </tr>
    </table>
  </div>
  <div class="col-lg-6">
    <table>
        <tr>
          <td>Interests: Boosting</td>
        </tr>
        <tr>
          <td>Ideas: All the ideas</td>
        </tr>
        <tr>
          <td>Skills: All the skillz</td>
        </tr>
    </table>
    </div>
    </div>
</div>
</div>
