<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card text-white bg-danger mb-3">
        <div class="text-center">Jumble</div>
      </div>
    </div>
  </div>
  <div class="row no-gutters" >
    <div class="col-lg-3">
      <app-contacts></app-contacts>
    </div>
    <div class="col-lg-9">
      <app-swipe></app-swipe>
      <app-info></app-info>
    </div>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
