// $jumble-red: #dc3545;
// $jumble-green: #93b725;
// $jumble-light: #0d1f22;//#273043;//;
// $jumble-dark: #0d1321;
// $jumble-bg: #1e3231;

$jumble-red: white;
$jumble-green: white;
$jumble-light: white;
$jumble-dark: white;
$jumble-bg: #0d1321;

$jumble-sidebar: white;//#ffd25a;
$jumble-card-bg: white;//#685c5c;
$jumble-contact: white;//#ffaa5a;
